.layout{
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    position: relative;
    scrollbar-width: none;
}
.layout::-webkit-scrollbar {
    display: none;
}

.sidebar{
    width: 20%;
    height: 100vh;
    background-color: var(--sidebar-background);
    position: sticky;
    top:0
}

.children{
    width: 80%;
    background-color: var(--children-background)
}