.layout{
    width: 100vw;
    display: flex;
    justify-content: flex-start;
}

.sidebar{
    flex-basis: 20%;
    height: 100vh;
    background-color: var(--sidebar-background);
}

.children{
    flex-basis: 80;
    background-color: var(--children-background)
}